html,
body {
    height: 100%;
}


body {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-big {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}