$accent-color  : #fef7f0;
$project-color : #243f4d;
$title-color   : #191919;
$price-color   : #a3bbc8;
$accent-bg     : #fef7f0;
$footer-text   : #8d8d8d;


%dmsans-700 {
    font-family: 'DMSans-Bold';
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DMSans-Regular';
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium';
    font-weight: 500;
}

%rubik-400 {
    font-family: 'Rubik-Regular';
    font-weight: 400;
}