@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__top {
        padding: 40px 0 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;
        align-items: center;
        margin-right: auto;
        width: 1770px;
}
        
    .logo {
        margin-right: auto;
    }
}

.menu {
    margin-right: auto;
    &__list {
        display: flex;
    }

    &__item {
        margin-right: 35px;
        border-bottom: 1px solid $accent-bg ;

        transition: 0.3s border-bottom;

        
    &:last-child {
        margin-right: 0;
        }
        &:hover {
            color: $accent-bg ;
        }
    }

    &__link {
        @extend %rubik-500;
        color: #436372;
    }
}


.user-nav {
    display: flex;
    position: relative;
    height: 50px;
    
    &__search {
        background-color: #edf1f4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }

    &__icon {
        width: 17px;
        height: 15px;
    }

    &__icon--loupe {
        position: absolute;
        top: 15px;
        left: 17px;
    }

    &__icon--heart {
        background-color: #fcd7b6;
        width: 90px;
        height: 43px;
        padding: 15px;
        border-radius: 25px 0 0 25px;
        position: relative;
    }

    &__icon--cart {
        background-color: #fcd7b6;
        width: 90px;
        height: 43px;
        padding: 15px;
        border-radius: 0 25px 25px 0;
        position: relative;
    }

    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        color: $project-color;
        @extend %dmsans-400;
        font-size: 10px;
        text-align: center;
        line-height: 1.6;
        right: 30px;
        top: 4px;
    }

    &__num-cart {
        right: 100px;
    }

    &__line {
        position: relative;
        &::after{
            content: '|';
            position: absolute;
            color: #fde7d3;
            width: 1px;
            height: 32px;
            left: 90px;
            top: 6px;
        }
    }

    &__btn {
        margin-right: 20px;
    }

    &__button {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}


.footer-top {
    margin: 80px 0 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    color: $footer-text;
    justify-content: space-between;

    &__logo {
        margin-bottom: 25px;
        display: block;
        width: 146px;
        height: 40px;
    }

    &__items--contact{
        width: 220px;
        margin-right: 100px;
        display: block;
    }

    &__list {
        font-style: normal;
    }

    &__species {
        text-transform: uppercase;
    }

    &__items {
        width: 170px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        margin-bottom: 15px;
    }
    
    &__headline {
        @extend %dmsans-700; 
        margin-bottom: 24px;
        text-transform: uppercase;
    } 

    &__link {
        margin-bottom: 15px;
    }

    &__newsletter {
        width: 270px;
    }

    &__newsletter-text {
        margin-bottom: 30px;
        display: block;
    }

    &__form {
        display: flex;
    }

    &__input {
        background-color: $accent-bg;
        @extend %dmsans-400;
        max-width: 170px;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        border: none;
        color: #1f2044;
    }

    &__btn {
        @extend %btn;
        border: none;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #7b7b7b;
    align-items: center;
    &__list {
        display: flex;
    }

    &__item:nth-last-child(n+2) {
    @extend %rubik-400;
    color: #7b7b7b;
    position: relative;
    margin-right: 20px;
        &::after {
        content: '|';
        position: absolute;
        color: #7b7b7b;
        width: 1px;
        height: 17px;
        margin-left: 8px;
    }
    }
}

.top-slider {   
    &__inner {
        background-color: $slider-top;
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        color: $project-color;
        padding-top: 210px;
        max-width: 415px;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__text {
        @extend %rubik-400;
        font-size: 18px;
        color: #4f6b77;
        margin-bottom: 40px;
        max-width: 370px;
        margin-bottom: 42px;
    }

    &__btn {
        @extend %btn;
        position: relative;
        padding: 20px 103px 20px 25px;
        font-size: 15px;
        line-height: 1.3px;
        &::after {
            content: '';
            background-image: url("../images/icon/arrow-right.png");
            position: absolute;
            color: #fff;
            width: 20px;
            height: 9px;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            top: 25px;
            right: 10px;
        }
    }

    &__item {
        display: flex !important;
        justify-content: space-around;
    }

    &__img {
        padding-top: 95px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-right: 3px;
        li {
            button {
                font-size: 10px;
                padding: 0;
                background-color: transparent;
                border: none;
                width: 27px;
                height: 27px;
                background-color: #fde3cc;
                color: #667983;
                border-radius: 50%;
                margin-right: 3px;
                margin-bottom: 45px;
            }
            &.slick-active > button  {
            background: #fff;
            }
        }
    }
}











@import 'media';